@import "../Scss/Helper.scss";
#backGroundKNT {
  background-image: url("../assets/nick-morrison-FHnnjk1Yj7Y-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@import "../Scss/Header.scss";
@import "../Scss/CouresItem.scss";
@import "../Scss/ContentNormal.scss";
@import "../Scss/buttonForm.scss";
@import "../Scss/MyTap.scss";
@import "../Scss/MediaQuery.scss";
